/* BODY Y MAIN */

body {
    background-color: red;
    color: black;
    text-align: center;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    border: none;
    margin-top: 5vh;
    transition: all 200ms;
    overflow: auto;
    z-index: 1;
}

main {
    min-height: 89.9vh;
}


/* TEXTO GENERAL */

p {
    line-height: 2.5vh;
}

h1 {
    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

h2 {
    font-size: 24px;
    display: flex;
    justify-content: center;
}


/* LINKS */

a {
    text-decoration: none;
    color: white;
    transition: all 200ms;
}

a:hover {
    text-decoration: underline;
}

a.texto-imagen {
    color: white;
    opacity: 0.9;
    transition: all 200ms;
    font-size: 2.5vh;
    /* text-decoration: none; */
}

a.back-to-home {
    display: flex;
    justify-content: center;
    position: relative;
    top: 2vh;
    color: black;
}


/* BARRA DE NAVEGACION */

.contenedor-navbar {
    background-color: rgba(1, 1, 1, 1);
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    transition: all 200ms;
    position: fixed;
    z-index: 3;
}

.navbar {
    padding: 1px;
    width: 50%;
    margin-top: auto;
    font-size: 12px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 200ms;
}


/* FOOTER */

.parrafo-footer {
    color: white;
}

.contenedor-footer {
    width: 100%;
    height: 3vh;
    background-color: rgb(55, 55, 55);
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    transition: all 200ms;
}

footer {
    width: auto;
    bottom: 0;
    padding: 1px;
    height: 3vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    transition: all 200ms;
    margin-right: 1vh;
}

.icono-footer {
    width: 1.75vh;
    position: relative;
    top: 0.2vh;
}


/* DARK MODE */

.dark-mode {
    background-color: rgb(21, 21, 21);
    color: white;
    transition: all 200ms;
}

.icono-switch {
    position: relative;
    padding: 3px;
    top: 1px;
    width: 2vh;
    height: 2vh;
    transition: all 200ms;
}

.dark-mode .image {
    opacity: 0.8;
    transition: all 200ms;
}

.dark-mode .image-nosotros {
    opacity: 0.8;
    transition: all 200ms;
}

.dark-mode a.back-to-home {
    color: white;
    transition: all 200ms;
}


/* BOTON DARK MODE */

label.switch {
    cursor: pointer;
    background-color: transparent;
    display: inline-block;
    position: absolute;
    right: 6.5vh;
    top: 3px;
    width: 1px;
    height: 1px;
    padding: 0px;
    transition: all 200ms;
}

.switch i {
    position: relative;
    display: flex;
    justify-content: flex-end;
    width: 5.5vh;
    height: 3vh;
    background-color: #ccc;
    border-radius: 3vh;
    transition: all 200ms linear;
}

.switch i::before {
    content: "";
    position: absolute;
    left: 0;
    width: 5.5vh;
    height: 3vh;
    background-color: transparent;
    border-radius: 11px;
}

.switch i::after {
    content: "";
    position: absolute;
    left: 0.125vh;
    width: 2.5vh;
    height: 2.5vh;
    background-color: #fff;
    border-radius: 3vh;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24);
    transform: translate(2px, 2px);
    transition: all 200ms ease-in-out;
}

.switch:active i::after {
    width: 2.5vh;
    transform: translate(2px, 2px);
}

.switch input {
    display: none;
    width: 1px;
    height: 1px;
}

.switch input:checked+i {
    background-color: #4BD763;
    /* background-color: #515151; */
}

.switch input:checked+i::after {
    transform: translate(2.5vh, 2px);
}


/* FORMULARIO CONTACTO */

.contenedor-formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 4.5vh;
}

form {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 4vh;
}


/* CAMPO NOMBRE AUTO SIZE */

.nombre {
    width: 40vh;
    border-radius: 1vh;
}

.contenedor-nombre {
    display: grid;
    justify-content: center;
    min-width: fit-content;
}

.contenedor-nombre::after {
    content: attr(data-replicated-value) " ";
    white-space: pre-wrap;
    visibility: hidden;
}

.contenedor-nombre>.nombre {
    resize: none;
    overflow: hidden;
}

.contenedor-nombre>.nombre,
.contenedor-nombre::after {
    border: 1px solid black;
    padding: 0.5rem;
    font: inherit;
    grid-area: 1 / 1 / 2 / 2;
}


/* CAMPO EMAIL AUTO SIZE */

.email {
    width: 40vh;
    border-radius: 1vh;
}

.contenedor-email {
    display: grid;
    justify-content: center;
    min-width: fit-content;
}

.contenedor-email::after {
    content: attr(data-replicated-value) " ";
    white-space: pre-wrap;
    visibility: hidden;
}

.contenedor-email>.email {
    resize: none;
    overflow: hidden;
}

.contenedor-email>.email,
.contenedor-email::after {
    border: 1px solid black;
    padding: 0.5rem;
    font: inherit;
    grid-area: 1 / 1 / 2 / 2;
}


/* CAMPO SUGERENCIA AUTO SIZE */

textarea {
    width: 40vh;
    border-radius: 1vh;
}

.contenedor-sugerencia {
    display: grid;
    justify-content: center;
    min-width: fit-content;
}

.contenedor-sugerencia::after {
    content: attr(data-replicated-value) " ";
    white-space: pre-wrap;
    visibility: hidden;
}

.contenedor-sugerencia>textarea {
    resize: none;
    overflow: hidden;
}

.contenedor-sugerencia>textarea,
.contenedor-sugerencia::after {
    border: 1px solid black;
    padding: 0.5rem;
    font: inherit;
    grid-area: 1 / 1 / 2 / 2;
}


/* BOTONES FORMULARIO */

.contenedor-botones {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    transition: all 100ms;
}

.boton-formulario {
    background-color: white;
    width: max-content;
    height: 4vh;
    border-radius: 1vh;
    margin: 0 0 0 3vh;
    transition: all 100ms;
}

.boton-formulario:hover {
    cursor: pointer;
    transition: all 100ms;
}

.boton-formulario:active {
    background-color: #ccc;
    transition: all 100ms;
}


/* IMAGENES */

.contenedor-fotos {
    position: relative;
    display: inline-block;
    width: 55vh;
    /* height: 86vh; */
    background-color: black;
    transition: all 200ms;
    border-radius: 2vh;
}

.image {
    opacity: 1;
    display: block;
    transition: 200ms ease;
    backface-visibility: hidden;
    /* height: 86vh; */
    width: 100%;
    border-radius: 2vh;
    overflow: hidden;
}

.image-nosotros {
    width: 50vh;
    border-radius: 2vh;
}

.middle {
    transition: 200ms ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.contenedor-fotos:hover .image {
    opacity: 0.3;
    transition: all 200ms;
}

.contenedor-fotos:hover .middle {
    opacity: 1;
    transition: all 200ms;
}

.gif-gracias {
    width: 60vh;
}