/* INICIALIZACION */

* {
    margin: 0;
    padding: 0;
    border: 0;
}


/* DEFINICION DE VARIABLES */

$transicion: 200ms;

/* COLOR PALETTE */

$colores: ( negro: black, blanco: white, gris-oscuro:rgba(20, 20, 20, 0.9), gris-oscurito:rgba(20, 20, 20, 0.7), transparente: transparent, grisecito: #ccc, verde-ios:#4BD763, sombrita:10px 10px 15px 5px rgba(0, 0, 0, 0.3));

/* BODY Y MAIN */

body {
    background-color: map-get($colores, blanco);
    color: map-get($colores, negro);
    text-align: center;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    transition: $transicion;
    overflow: auto;
    z-index: 0;
}


/* NAVBAR MOBILE */

@media (max-width:1100px) {
    .main {
        margin-top: 100px;
    }
    .contenedor-navbar {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .contenedor-logo {
        position: relative;
        top: 10px;
    }
}


/* NAVBAR DESKTOP */

@media (min-width:1100px) {
    .main {
        margin-top: 60px;
    }
    .contenedor-navbar {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .contenedor-logo {
        position: absolute;
        left: 10px;
        top: 2px;
    }
}


/* TEXTO GENERAL */

h1,
h2,
p {
    display: flex;
    justify-content: center;
}

.texto-inicial {
    text-align: center;
    font-size: 2vh;
    font-weight: 500;
}


/* NAVBAR*/

.contenedor-navbar {
    width: 100%;
    position: fixed;
    top: 5px;
    background-color: map-get($colores, gris-oscuro);
    backdrop-filter: blur(5px);
    height: auto;
    align-items: center;
    z-index: 1;
    top: 0;
    transition: $transicion;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-logo {
    font-weight: bold;
    a {
        color: white;
        &:hover {
            color: rgb(210, 210, 210);
        }
    }
}

.nav-link {
    font-size: 2vh;
}


/* LINKS */

.link-light {
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

.link {
    position: relative;
    color: map-get($colores, negro);
    text-decoration: none;
    transition: $transicion;
    &:hover {
        .imgfoot {
            text-decoration: underline;
            transform: translate(0px, -10px);
            transition: $transicion;
        }
    }
}

.centrador {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgfoot {
    position: relative;
    bottom: 50px;
    width: auto;
    color: white;
    background-color: map-get($colores, gris-oscurito);
    backdrop-filter: blur(2px);
    border-radius: 5px;
    padding: 5px;
    transition: $transicion;
}


/* FOOTER */

footer {
    background-color: map-get($colores, gris-oscuro);
    backdrop-filter: blur(5px);
    position: relative;
    bottom: 0px;
    width: 100%;
    padding: 1px;
    font-size: 14px;
    transition: $transicion;
    margin-top: 2vh;
    z-index: 1;
}

.footer-sent-data {
    position: absolute;
    width: 100%;
    bottom: 0px;
}

.contenedor-formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    padding-top: 10px;
}

form {
    display: flex;
    align-items: center;
    gap: 2vh;
}

.sugerencias {
    width: 30vh;
    border-radius: 1vh;
    height: auto;
    resize: none;
}

.btn-group {
    display: flex;
    justify-content: space-between;
    gap: 1vh;
    outline: none;
}

.sumbit {
    border-radius: 10px;
    background-color: map-get($colores, blanco);
    width: 40px;
    height: 40px;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.send-icon {
    width: 25px;
    padding: 1px;
}

.contenedor-instagram {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    padding-top: 10px;
}

.texto-footer {
    color: map-get($colores, blanco);
}

.icono-instagram {
    width: 20px;
    border-radius: 0px;
}

.contenedor-legal {
    margin-top: 1vh;
}

.texto-legal {
    font-size: 14px;
}

#cohetito-legal {
    transition: $transicion;
    touch-action: auto;
    &:hover {
        transform: rotate(360deg);
        cursor: default;
    }
}

.back-to-home {
    text-decoration: none;
    color: black;
    transition: $transicion;
    &:hover {
        transition: $transicion;
        color: black;
        cursor: pointer;
    }
}


/* DARK MODE */

.dark-mode {
    background-color: map-get($colores, negro);
    color: map-get($colores, blanco);
    transition: $transicion;
    .gif-gracias {
        opacity: 0.9;
    }
    .img-fluid {
        opacity: 0.9;
    }
    .image-nosotros {
        opacity: 0.8;
    }
    a.back-to-home {
        color: map-get($colores, blanco);
    }
    .link {
        color: map-get($colores, blanco);
        text-decoration: none;
        &:hover {
            color: map-get($colores, blanco);
            text-decoration: underline;
        }
    }
}


/* BOTON DARK MODE */

.switch {
    cursor: pointer;
    background-color: map-get($colores, transparente);
    display: inline-block;
    position: fixed;
    z-index: 3;
    right: 80px;
    bottom: 80px;
    width: 1px;
    height: 1px;
    padding: 0px;
    transition: $transicion;
}

.switch i {
    position: relative;
    display: flex;
    justify-content: space-around;
    width: 60px;
    height: 34px;
    background-color: map-get($colores, grisecito);
    border-radius: 20px;
    transition: $transicion;
}

.switch i::after {
    content: "";
    position: absolute;
    left: 4px;
    top: 3px;
    width: 28px;
    height: 28px;
    background-color: map-get($colores, blanco);
    border-radius: 20px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24);
    transition: $transicion;
}

.switch input {
    display: none;
}

.switch input:checked+i {
    background-color: map-get($colores, verde-ios);
}

.switch input:checked+i::after {
    transform: translate(24px);
}

.icono-switch {
    margin-top: 6px;
    padding: 1px;
    width: 22px;
    height: 22px;
}


/* IMAGENES */

.contenedor-image-nosotros {
    display: flex;
    justify-content: center;
}

@media (max-width:480px) {
    .image-nosotros {
        width: 90%;
        border-radius: 1vh;
        box-shadow: map-get($colores, sombrita);
    }
}

@media (min-width:480px) {
    .image-nosotros {
        width: 55vh;
        border-radius: 1vh;
        box-shadow: map-get($colores, sombrita);
    }
}

@media (min-width:640px) {
    .image-nosotros {
        width: 60vh;
        border-radius: 1vh;
        box-shadow: map-get($colores, sombrita);
    }
}

.contenedor-gif {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.gif-gracias {
    width: 20%;
    border-radius: 5px;
    box-shadow: map-get($colores, sombrita);
}

.contenedor-back-to-site {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.col-md-4 {
    display: flex;
    justify-content: center;
}

.contenedor-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
    margin-top: 20px;
}

.maps-logo {
    width: 20px;
    transition: $transicion;
    &:hover {
        transform: translate(0px, -6px);
        transition: $transicion;
    }
}

.instagram-logo {
    width: 28px;
    border-radius: 7px;
    transition: $transicion;
    &:hover {
        transform: translate(0px, -6px);
        transition: $transicion;
    }
}

.web-logo {
    width: 28px;
    transition: $transicion;
    &:hover {
        transform: translate(0px, -6px);
        transition: $transicion;
    }
}

.subtitulo {
    font-weight: 350;
    font-style: italic;
    text-align: center;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.contenedor-resena {
    margin: 30px 0px 20px 0px;
}

.texto-resena {
    font-size: 18px;
}

.contenedor-puntaje {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.texto-puntaje {
    font-size: 22px;
    width: fit-content;
}

.contenedor-texto-izq {
    display: inline-block;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 50px;
    width: fit-content;
    height: fit-content;
    font-weight: 600;
}

.contenedor-texto-der {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    line-height: 50px;
    width: fit-content;
    height: fit-content;
}

.carousel {
    border-radius: 10px;
    box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 30px;
}

img {
    border-radius: 10px;
}

.col-md-6 {
    display: flex;
    flex-direction: column;
}

.contenedor-resena-gral {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}