/* BODY Y MAIN */

body {
    background-color: white;
    color: black;
    text-align: center;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    border: none;
    transition: all 200ms;
    overflow: auto;
    z-index: 0;
}

.main {
    margin: 50px 0 0 0;
}


/* TEXTO GENERAL */

h1,
h2,
p {
    display: flex;
    justify-content: center;
}

.texto-inicial {
    font-size: 2vh;
    font-weight: 500;
}


/* NAVBAR*/

#contenedor-navbar {
    width: 100%;
    position: fixed;
    top: 5px;
    background-color: rgba(20, 20, 20, 0.9);
    backdrop-filter: blur(5px);
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    top: 0;
    transition: all 200ms;
}


/* LINKS */

.link {
    color: black;
    text-decoration: none;
}

.link:hover {
    color: black;
    text-decoration: underline;
}

.link-light {
    text-decoration: none;
}

.link-light:hover {
    text-decoration: underline;
}


/* FOOTER */

footer {
    background-color: rgba(20, 20, 20, 0.9);
    backdrop-filter: blur(5px);
    padding: 1px;
    font-size: 14px;
    transition: all 200ms;
    margin-top: 3vh;
    z-index: 1;
}

.contenedor-formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    padding-top: 10px;
}

form {
    display: flex;
    align-items: center;
    gap: 2vh;
}

.sugerencias {
    width: 30vh;
    border-radius: 1vh;
    height: auto;
    resize: none;
}

.btn-group {
    display: flex;
    justify-content: space-between;
    gap: 1vh;
}

.sumbit {
    border-radius: 15px;
    background-color: white;
    width: 40px;
    height: 40px;
}

.contenedor-instagram {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    padding-top: 10px;
}

.texto-footer {
    color: white;
}

.icono-instagram {
    height: 18px;
    width: 18px;
    position: relative;
    top: 3px;
}

.contenedor-legal {
    margin-top: 1vh;
}

.texto-legal {
    font-size: 14px;
}

#cohetito-legal {
    transition: all 500ms;
}

#cohetito-legal:hover {
    transition: all 500ms;
    transform: rotate(720deg);
    cursor: default;
}


/* DARK MODE */

.dark-mode {
    background-color: black;
    color: white;
    transition: all 200ms;
}

.dark-mode .gif-gracias {
    opacity: 0.9;
}

.dark-mode .img-fluid {
    opacity: 0.9;
    transition: all 200ms;
}

.dark-mode .image-nosotros {
    opacity: 0.8;
    transition: all 200ms;
}

.dark-mode a.back-to-home {
    color: white;
    transition: all 200ms;
}

.dark-mode .link {
    color: white;
    text-decoration: none;
}

.dark-mode .link:hover {
    color: white;
    text-decoration: underline;
}


/* BOTON DARK MODE */

.switch {
    cursor: pointer;
    background-color: transparent;
    display: inline-block;
    position: fixed;
    z-index: 3;
    right: 60px;
    bottom: 80px;
    width: 1px;
    height: 1px;
    padding: 0px;
    transition: all 200ms;
}

.switch i {
    position: relative;
    display: flex;
    justify-content: space-around;
    width: 44px;
    height: 28px;
    background-color: #ccc;
    border-radius: 20px;
    transition: all 200ms;
}

.switch i::after {
    content: "";
    position: absolute;
    left: 2px;
    top: 3px;
    width: 22px;
    height: 22px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24);
    transition: all 200ms;
}

.switch input {
    display: none;
}

.switch input:checked+i {
    background-color: #4BD763;
    /* background-color: #515151; */
}

.switch input:checked+i::after {
    transform: translate(17px);
}

.icono-switch {
    position: relative;
    padding: 2px;
    top: 3px;
    width: 2.5vh;
    height: 2.5vh;
    transition: all 200ms;
}


/* IMAGENES */

.image-nosotros {
    width: 50vh;
    border-radius: 2vh;
}

.gif-gracias {
    width: 70%;
}

.col-md-4 {
    border: solid 10px white;
    padding-top: 10px;
    background-color: rgb(240, 240, 240);
    border-radius: 15px;
}

.imgfoot {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}