/* BODY Y MAIN */

body {
    background-color: white;
    color: black;
    text-align: center;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    border: none;
    transition: all 200ms;
    overflow: auto;
    z-index: 0;
}


/* TEXTO GENERAL */

h1,
h2,
p {
    display: flex;
    justify-content: center;
}

.texto-inicial {
    font-size: 2vh;
    font-weight: 500;
}


/* LINKS */

a {
    text-decoration: none;
    color: white;
    transition: all 200ms;
}

a:hover {
    text-decoration: underline;
}

a.texto-imagen {
    color: white;
    opacity: 0.9;
    transition: all 200ms;
    font-size: 2.5vh;
    /* text-decoration: none; */
}

a.back-to-home {
    display: flex;
    justify-content: center;
    position: relative;
    top: 2vh;
    color: black;
}


/* BARRA DE NAVEGACION */


/* .contenedor-navbar {
    background-color: rgba(20, 20, 20, 0.8);
    backdrop-filter: blur(5px);
    width: 100%;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 3;
    top: 0;
    transition: all 200ms;
}

.navbar {
    padding: 1px;
    width: 90%;
    font-size: 14px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 200ms;
} */


/* FOOTER */

.parrafo-footer {
    color: white;
}

.contenedor-footer {
    background-color: rgba(20, 20, 20, 0.9);
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 1000px;
    z-index: 3;
    transition: all 200ms;
}

footer {
    width: auto;
    bottom: 0;
    padding: 1px;
    height: 3vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    transition: all 200ms;
    margin-right: 1vh;
}

.icono-footer {
    height: 16px;
    width: 16px;
    position: relative;
    top: 0.2vh;
}


/* DARK MODE */

.dark-mode {
    background-color: black;
    color: white;
    transition: all 200ms;
}

.dark-mode .image {
    opacity: 0.8;
    transition: all 200ms;
}

.dark-mode .image-nosotros {
    opacity: 0.8;
    transition: all 200ms;
}

.dark-mode a.back-to-home {
    color: white;
    transition: all 200ms;
}


/* BOTON DARK MODE */

.switch {
    cursor: pointer;
    background-color: transparent;
    display: inline-block;
    position: fixed;
    z-index: 3;
    right: 8vh;
    bottom: 7vh;
    width: 1px;
    height: 1px;
    padding: 0px;
    transition: all 200ms;
}

.switch i {
    position: relative;
    display: flex;
    justify-content: space-around;
    width: 5.5vh;
    height: 3.4vh;
    background-color: #ccc;
    border-radius: 3vh;
    transition: all 200ms;
}

.switch i::after {
    content: "";
    position: absolute;
    left: 3px;
    top: 3px;
    width: 2.8vh;
    height: 2.8vh;
    background-color: #fff;
    border-radius: 11px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24);
    transition: all 200ms;
}

.switch input {
    display: none;
}

.switch input:checked+i {
    background-color: #4BD763;
    /* background-color: #515151; */
}

.switch input:checked+i::after {
    transform: translate(2.1vh);
}

.icono-switch {
    position: relative;
    padding: 2px;
    top: 3px;
    width: 2.5vh;
    height: 2.5vh;
    transition: all 200ms;
}


/* FORMULARIO CONTACTO */

.contenedor-formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 4.5vh;
}

form {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 4vh;
}


/* CAMPO NOMBRE AUTO SIZE */

.nombre {
    width: 40vh;
    border-radius: 1vh;
    height: 14px;
}

.contenedor-nombre {
    display: grid;
    justify-content: center;
    min-width: fit-content;
}

.contenedor-nombre::after {
    content: attr(data-replicated-value) " ";
    white-space: pre-wrap;
    visibility: hidden;
}

.contenedor-nombre>.nombre {
    resize: none;
    overflow: hidden;
}

.contenedor-nombre>.nombre,
.contenedor-nombre::after {
    border: 1px solid black;
    padding: 0.5rem;
    font: inherit;
    grid-area: 1 / 1 / 2 / 2;
}


/* CAMPO EMAIL AUTO SIZE */

.email {
    width: 40vh;
    border-radius: 1vh;
    height: 14px;
}

.contenedor-email {
    display: grid;
    justify-content: center;
    min-width: fit-content;
}

.contenedor-email::after {
    content: attr(data-replicated-value) " ";
    white-space: pre-wrap;
    visibility: hidden;
}

.contenedor-email>.email {
    resize: none;
    overflow: hidden;
}

.contenedor-email>.email,
.contenedor-email::after {
    border: 1px solid black;
    padding: 0.5rem;
    font: inherit;
    grid-area: 1 / 1 / 2 / 2;
}


/* CAMPO SUGERENCIA AUTO SIZE */

textarea {
    width: 40vh;
    border-radius: 1vh;
    height: 60px;
}

.contenedor-sugerencia {
    display: grid;
    justify-content: center;
    min-width: fit-content;
}

.contenedor-sugerencia::after {
    content: attr(data-replicated-value) " ";
    white-space: pre-wrap;
    visibility: hidden;
}

.contenedor-sugerencia>textarea {
    resize: none;
    overflow: hidden;
}

.contenedor-sugerencia>textarea,
.contenedor-sugerencia::after {
    border: 1px solid black;
    padding: 0.5rem;
    font: inherit;
    grid-area: 1 / 1 / 2 / 2;
}


/* BOTONES FORMULARIO */

.contenedor-botones {
    width: 100%;
    display: flex;
    justify-content: center;
    transition: all 100ms;
}

.boton-formulario {
    background-color: white;
    width: max-content;
    height: 4vh;
    border-radius: 1vh;
    margin: 0 0 0 3vh;
    transition: all 100ms;
}

.boton-formulario:hover {
    cursor: pointer;
    transition: all 100ms;
    background-color: rgb(221, 221, 221);
}

.boton-formulario:active {
    background-color: #ccc;
    transition: all 100ms;
}


/* IMAGENES */

.contenedor-global-fotos {
    display: flex;
    flex-flow: column;
    padding: 1px;
}

.contenedor-fotos {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: black;
    transition: all 200ms;
    border-radius: 2vh;
    margin: 10px;
}

.image {
    opacity: 1;
    display: block;
    transition: all 200ms;
    backface-visibility: hidden;
    width: 100%;
    border-radius: 2vh;
    overflow: hidden;
}

.image-nosotros {
    width: 50vh;
    border-radius: 2vh;
}

.middle {
    transition: all 200ms;
    display: flex;
    justify-content: center;
    opacity: 0;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.contenedor-fotos:hover .image {
    opacity: 0.3;
    transition: all 200ms;
}

.contenedor-fotos:hover .middle {
    opacity: 1;
    transition: all 200ms;
}

.gif-gracias {
    width: 70%;
}

.dark-mode .gif-gracias {
    opacity: 0.9;
}

#navbar {
    width: 400px;
}

#contenedor-navbar {
    width: 100%;
    position: fixed;
    top: 5px;
    background-color: rgba(20, 20, 20, 0.8);
    backdrop-filter: blur(5px);
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 3;
    top: 0;
    transition: all 200ms;
}

.main {
    margin-top: 50px;
}