/* INICIALIZACION */
* {
  margin: 0;
  padding: 0;
  border: 0;
}

/* DEFINICION DE VARIABLES */
/* COLOR PALETTE */
/* BODY Y MAIN */
body {
  background-color: white;
  color: black;
  text-align: center;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-transition: 200ms;
  transition: 200ms;
  overflow: auto;
  z-index: 0;
}

/* NAVBAR MOBILE */
@media (max-width: 1100px) {
  .main {
    margin-top: 100px;
  }
  .contenedor-navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contenedor-logo {
    position: relative;
    top: 10px;
  }
}

/* NAVBAR DESKTOP */
@media (min-width: 1100px) {
  .main {
    margin-top: 60px;
  }
  .contenedor-navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contenedor-logo {
    position: absolute;
    left: 10px;
    top: 2px;
  }
}

/* TEXTO GENERAL */
h1,
h2,
p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.texto-inicial {
  text-align: center;
  font-size: 2vh;
  font-weight: 500;
}

/* NAVBAR*/
.contenedor-navbar {
  width: 100%;
  position: fixed;
  top: 5px;
  background-color: rgba(20, 20, 20, 0.9);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  height: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
  top: 0;
  -webkit-transition: 200ms;
  transition: 200ms;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.contenedor-logo {
  font-weight: bold;
}

.contenedor-logo a {
  color: white;
}

.contenedor-logo a:hover {
  color: #d2d2d2;
}

.nav-link {
  font-size: 2vh;
}

/* LINKS */
.link-light {
  text-decoration: none;
}

.link-light:hover {
  text-decoration: underline;
}

.link {
  position: relative;
  color: black;
  text-decoration: none;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.link:hover .imgfoot {
  text-decoration: underline;
  -webkit-transform: translate(0px, -10px);
          transform: translate(0px, -10px);
  -webkit-transition: 200ms;
  transition: 200ms;
}

.centrador {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.imgfoot {
  position: relative;
  bottom: 50px;
  width: auto;
  color: white;
  background-color: rgba(20, 20, 20, 0.7);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  border-radius: 5px;
  padding: 5px;
  -webkit-transition: 200ms;
  transition: 200ms;
}

/* FOOTER */
footer {
  background-color: rgba(20, 20, 20, 0.9);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  position: relative;
  bottom: 0px;
  width: 100%;
  padding: 1px;
  font-size: 14px;
  -webkit-transition: 200ms;
  transition: 200ms;
  margin-top: 2vh;
  z-index: 1;
}

.footer-sent-data {
  position: absolute;
  width: 100%;
  bottom: 0px;
}

.contenedor-formulario {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  padding-top: 10px;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2vh;
}

.sugerencias {
  width: 30vh;
  border-radius: 1vh;
  height: auto;
  resize: none;
}

.btn-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1vh;
  outline: none;
}

.sumbit {
  border-radius: 10px;
  background-color: white;
  width: 40px;
  height: 40px;
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.send-icon {
  width: 25px;
  padding: 1px;
}

.contenedor-instagram {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  padding-top: 10px;
}

.texto-footer {
  color: white;
}

.icono-instagram {
  width: 20px;
  border-radius: 0px;
}

.contenedor-legal {
  margin-top: 1vh;
}

.texto-legal {
  font-size: 14px;
}

#cohetito-legal {
  -webkit-transition: 200ms;
  transition: 200ms;
  -ms-touch-action: auto;
      touch-action: auto;
}

#cohetito-legal:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  cursor: default;
}

.back-to-home {
  text-decoration: none;
  color: black;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.back-to-home:hover {
  -webkit-transition: 200ms;
  transition: 200ms;
  color: black;
  cursor: pointer;
}

/* DARK MODE */
.dark-mode {
  background-color: black;
  color: white;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.dark-mode .gif-gracias {
  opacity: 0.9;
}

.dark-mode .img-fluid {
  opacity: 0.9;
}

.dark-mode .image-nosotros {
  opacity: 0.8;
}

.dark-mode a.back-to-home {
  color: white;
}

.dark-mode .link {
  color: white;
  text-decoration: none;
}

.dark-mode .link:hover {
  color: white;
  text-decoration: underline;
}

/* BOTON DARK MODE */
.switch {
  cursor: pointer;
  background-color: transparent;
  display: inline-block;
  position: fixed;
  z-index: 3;
  right: 80px;
  bottom: 80px;
  width: 1px;
  height: 1px;
  padding: 0px;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.switch i {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 60px;
  height: 34px;
  background-color: #ccc;
  border-radius: 20px;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.switch i::after {
  content: "";
  position: absolute;
  left: 4px;
  top: 3px;
  width: 28px;
  height: 28px;
  background-color: white;
  border-radius: 20px;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: 200ms;
  transition: 200ms;
}

.switch input {
  display: none;
}

.switch input:checked + i {
  background-color: #4BD763;
}

.switch input:checked + i::after {
  -webkit-transform: translate(24px);
          transform: translate(24px);
}

.icono-switch {
  margin-top: 6px;
  padding: 1px;
  width: 22px;
  height: 22px;
}

/* IMAGENES */
.contenedor-image-nosotros {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 480px) {
  .image-nosotros {
    width: 90%;
    border-radius: 1vh;
    -webkit-box-shadow: 10px 10px 15px 5px rgba(0, 0, 0, 0.3);
            box-shadow: 10px 10px 15px 5px rgba(0, 0, 0, 0.3);
  }
}

@media (min-width: 480px) {
  .image-nosotros {
    width: 55vh;
    border-radius: 1vh;
    -webkit-box-shadow: 10px 10px 15px 5px rgba(0, 0, 0, 0.3);
            box-shadow: 10px 10px 15px 5px rgba(0, 0, 0, 0.3);
  }
}

@media (min-width: 640px) {
  .image-nosotros {
    width: 60vh;
    border-radius: 1vh;
    -webkit-box-shadow: 10px 10px 15px 5px rgba(0, 0, 0, 0.3);
            box-shadow: 10px 10px 15px 5px rgba(0, 0, 0, 0.3);
  }
}

.contenedor-gif {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
}

.gif-gracias {
  width: 20%;
  border-radius: 5px;
  -webkit-box-shadow: 10px 10px 15px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 10px 10px 15px 5px rgba(0, 0, 0, 0.3);
}

.contenedor-back-to-site {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.col-md-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contenedor-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
  margin-top: 40px;
}

.maps-logo {
  width: 20px;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.maps-logo:hover {
  -webkit-transform: translate(0px, -6px);
          transform: translate(0px, -6px);
  -webkit-transition: 200ms;
  transition: 200ms;
}

.instagram-logo {
  width: 28px;
  border-radius: 7px;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.instagram-logo:hover {
  -webkit-transform: translate(0px, -6px);
          transform: translate(0px, -6px);
  -webkit-transition: 200ms;
  transition: 200ms;
}

.web-logo {
  width: 28px;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.web-logo:hover {
  -webkit-transform: translate(0px, -6px);
          transform: translate(0px, -6px);
  -webkit-transition: 200ms;
  transition: 200ms;
}

.subtitulo {
  font-weight: 350;
  font-style: italic;
  text-align: center;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.contenedor-resena {
  margin: 30px 0px 20px 0px;
}

.texto-resena {
  font-size: 18px;
}

.contenedor-puntaje {
  margin-top: 10px;
}

.texto-puntaje {
  font-size: 22px;
}

.contenedor-texto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  line-height: 50px;
}

.carousel {
  border-radius: 10px;
  -webkit-box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.2);
}

img {
  border-radius: 10px;
}
/*# sourceMappingURL=style.css.map */